.container2 {
    display: grid;
    grid-template-columns: repeat(1, 2fr); 
    gap: 20px; 
    padding: 20px;
}

.card2 {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card2 img {
    width: 60%;
    height: 40%;
    border-radius: 10px;
    border: solid 2px #350202;
}


.card2 h3 {
    margin: 10px;
    
}

.card2 ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-wrap: normal;
}

.card2 ul li {
    width: 150px;
    list-style: none;
    margin: 5px;
}

.card2 hr {
    margin: 10px;
}

.card2 .botones {
    margin: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card2 button {
    padding: 6px;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
}

.card2 .cesta {
    color: aliceblue;
    background-color: #292424;
    border: #292424;
}